In [11]:
%load_ext autoreload
%autoreload 2

import logging
import os.path
import pandas as pd
from sklearn.model_selection import train_test_split
from ml.data import process_data
from ml.model import train_model, model_performance_on_slices, generate_slices, save_model

logging.basicConfig(level=logging.INFO, format="%(asctime)-15s %(message)s")
logger = logging.getLogger()

logger.info('Reading data')
data = pd.read_csv(os.path.join('..', 'data', 'census-cleaner.csv'))

logger.info('Splitting data')
train, test = train_test_split(data, test_size=0.20)

logger.info('Processing data')
cat_features = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
]
target = "salary"
X_train, y_train, encoder, lb = process_data(
    train, categorical_features=cat_features, label=target, training=True
)

X_test, y_test, _, _ = process_data(
    test, categorical_features=cat_features, label=target, training=False, encoder=encoder, lb=lb
)

ImportError: cannot import name 'save_model' from 'ml.model' (/Users/eric/src/learning/udacity-mldevops-exercise3/model/ml/model.py)

In [2]:
logger.info('Training classifier')
fixed_params = {'use_label_encoder': False, 'objective': 'binary:logistic', 'eval_metric': 'auc', 'subsample': 0.8, 'colsample_bytree': 0.8, 'seed': 42}
model = train_model(X_train, y_train, fixed_params)

2022-04-29 10:00:27,564 Training classifier
2022-04-29 10:00:27,566 Tuning hyperparameters for roc_auc
2022-04-29 10:00:49,951 Best parameters set found on development set:
2022-04-29 10:00:49,952 {'eta': 0.1, 'max_depth': 7, 'n_estimators': 150}

In [10]:
logger.info('Saving model')
from ml.model import train_model, model_performance_on_slices, generate_slices, save_model
save_model(model, os.path.join(os.path.dirname(__file__), 'xgboost-model.json'))

2022-04-29 10:10:39,245 Saving model

ImportError: cannot import name 'save_model' from 'ml.model' (/Users/eric/src/learning/udacity-mldevops-exercise3/model/ml/model.py)

In [4]:
test

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
10184,42,Self-emp-not-inc,115323,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,7,?,<=50K
28404,41,Private,157025,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,Black,Male,0,0,40,United-States,<=50K
30200,36,Private,247936,HS-grad,9,Married-civ-spouse,Other-service,Wife,Asian-Pac-Islander,Female,0,0,2,Taiwan,<=50K
5905,60,Self-emp-not-inc,88055,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,24,United-States,<=50K
5764,54,Private,88278,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1977,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24027,86,Private,149912,Masters,14,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
28976,23,Private,308498,Some-college,10,Never-married,Craft-repair,Own-child,White,Male,0,0,15,United-States,<=50K
13062,21,Private,182117,Bachelors,13,Never-married,Other-service,Other-relative,White,Male,0,0,20,United-States,<=50K
8072,44,Self-emp-not-inc,26669,Assoc-acdm,12,Married-civ-spouse,Other-service,Wife,White,Female,0,0,99,United-States,<=50K
29336,43,State-gov,30824,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K

In [5]:
encoder

OneHotEncoder(handle_unknown='ignore', sparse=False)

In [6]:
X_test

array([[4.20000e+01, 1.15323e+05, 1.60000e+01, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [4.10000e+01, 1.57025e+05, 9.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00],
       [3.60000e+01, 2.47936e+05, 9.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       ...,
       [2.10000e+01, 1.82117e+05, 1.30000e+01, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00],
       [4.40000e+01, 2.66690e+04, 1.20000e+01, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00],
       [4.30000e+01, 3.08240e+04, 1.00000e+01, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00]])

In [7]:
logger.info('Generating data slices')
slices = {}
for feature in cat_features:
    logger.info(f'Generating slice for {feature}')
    for cls in test[feature].unique():
        data_slice = test[test[feature] == cls]
        slices[f"{feature} => {cls}"] = data_slice

2022-04-29 10:01:05,138 Generating data slices
2022-04-29 10:01:05,139 Generating slice for workclass
2022-04-29 10:01:05,147 Generating slice for education
2022-04-29 10:01:05,155 Generating slice for marital-status
2022-04-29 10:01:05,160 Generating slice for occupation
2022-04-29 10:01:05,168 Generating slice for relationship
2022-04-29 10:01:05,172 Generating slice for race
2022-04-29 10:01:05,176 Generating slice for sex
2022-04-29 10:01:05,179 Generating slice for native-country

In [8]:
slices

{'workclass => Self-emp-not-inc':        age         workclass   fnlgt     education  education-num  \
 10184   42  Self-emp-not-inc  115323     Doctorate             16
 5905    60  Self-emp-not-inc   88055  Some-college             10
 24378   44  Self-emp-not-inc  361280  Some-college             10
 24150   35  Self-emp-not-inc  114366     Bachelors             13
 15950   63  Self-emp-not-inc  181561  Some-college             10
 ...    ...               ...     ...           ...            ...
 30233   74  Self-emp-not-inc  109101  Some-college             10
 6447    60  Self-emp-not-inc  235535       HS-grad              9
 32438   66  Self-emp-not-inc  102686       Masters             14
 6892    37  Self-emp-not-inc  255454  Some-college             10
 8072    44  Self-emp-not-inc   26669    Assoc-acdm             12

            marital-status       occupation   relationship                race  \
 10184       Never-married   Prof-specialty  Not-in-family               White
 5905   Married-civ-spouse     Craft-repair        Husband               White
 24378  Married-civ-spouse            Sales        Husband  Asian-Pac-Islander
 24150  Married-civ-spouse   Prof-specialty        Husband               White
 15950            Divorced  Exec-managerial  Not-in-family               White
 ...                   ...              ...            ...                 ...
 30233  Married-civ-spouse  Exec-managerial        Husband               White
 6447   Married-civ-spouse  Exec-managerial        Husband               White
 32438  Married-civ-spouse  Exec-managerial        Husband               White
 6892        Never-married   Prof-specialty  Not-in-family               Black
 8072   Married-civ-spouse    Other-service           Wife               White

           sex  capital-gain  capital-loss  hours-per-week native-country  \
 10184    Male             0             0               7              ?
 5905     Male             0             0              24  United-States
 24378    Male             0             0              80    Philippines
 24150    Male             0             0              40  United-States
 15950    Male             0             0              50  United-States
 ...       ...           ...           ...             ...            ...
 30233    Male             0             0               4  United-States
 6447     Male             0             0              48  United-States
 32438    Male             0             0              20  United-States
 6892     Male             0             0              40  United-States
 8072   Female             0             0              99  United-States

       salary
 10184  <=50K
 5905   <=50K
 24378   >50K
 24150  <=50K
 15950  <=50K
 ...      ...
 30233  <=50K
 6447   <=50K
 32438   >50K
 6892   <=50K
 8072   <=50K

 [487 rows x 15 columns],
 'workclass => Private':        age workclass   fnlgt     education  education-num      marital-status  \
 28404   41   Private  157025       HS-grad              9       Never-married
 30200   36   Private  247936       HS-grad              9  Married-civ-spouse
 5764    54   Private   88278     Doctorate             16  Married-civ-spouse
 23392   32   Private  237478          11th              7            Divorced
 10637   45   Private  235646     Bachelors             13  Married-civ-spouse
 ...    ...       ...     ...           ...            ...                 ...
 25433   24   Private  254293     Bachelors             13       Never-married
 21915   37   Private   99374          10th              6  Married-civ-spouse
 24027   86   Private  149912       Masters             14       Never-married
 28976   23   Private  308498  Some-college             10       Never-married
 13062   21   Private  182117     Bachelors             13       Never-married

               occupation    relationship                race     sex  \
 28404  Machine-op-inspct       Unmarried               Black    Male
 30200      Other-service            Wife  Asian-Pac-Islander  Female
 5764      Prof-specialty         Husband               White    Male
 23392  Machine-op-inspct       Unmarried               White  Female
 10637    Exec-managerial         Husband               White    Male
 ...                  ...             ...                 ...     ...
 25433    Exec-managerial   Not-in-family               White    Male
 21915   Transport-moving         Husband               White    Male
 24027       Adm-clerical   Not-in-family               White  Female
 28976       Craft-repair       Own-child               White    Male
 13062      Other-service  Other-relative               White    Male

        capital-gain  capital-loss  hours-per-week native-country salary
 28404             0             0              40  United-States  <=50K
 30200             0             0               2         Taiwan  <=50K
 5764              0          1977              50  United-States   >50K
 23392             0             0              40  United-States  <=50K
 10637             0             0              40  United-States   >50K
 ...             ...           ...             ...            ...    ...
 25433          2174             0              45  United-States  <=50K
 21915             0             0              55  United-States  <=50K
 24027             0             0              40  United-States  <=50K
 28976             0             0              15  United-States  <=50K
 13062             0             0              20  United-States  <=50K

 [4595 rows x 15 columns],
 'workclass => Local-gov':        age  workclass   fnlgt     education  education-num  \
 500     23  Local-gov  324960       HS-grad              9
 23810   43  Local-gov  227734     Assoc-voc             11
 30335   18  Local-gov  466325          11th              7
 1189    27  Local-gov  247507     Bachelors             13
 14546   38  Local-gov  223237       Masters             14
 ...    ...        ...     ...           ...            ...
 24246   70  Local-gov  334666       HS-grad              9
 31531   28  Local-gov   33662       Masters             14
 1723    40  Local-gov  218995  Some-college             10
 29462   42  Local-gov  195897       7th-8th              4
 20276   39  Local-gov  170382       Masters             14

            marital-status        occupation   relationship   race     sex  \
 500         Never-married   Farming-fishing  Not-in-family  White    Male
 23810  Married-civ-spouse  Transport-moving        Husband  White    Male
 30335       Never-married      Adm-clerical      Own-child  White    Male
 1189        Never-married    Prof-specialty      Own-child  White    Male
 14546  Married-civ-spouse    Prof-specialty        Husband  White    Male
 ...                   ...               ...            ...    ...     ...
 24246             Widowed      Adm-clerical  Not-in-family  White  Female
 31531  Married-civ-spouse    Prof-specialty           Wife  White  Female
 1723   Married-civ-spouse   Exec-managerial        Husband  White    Male
 29462  Married-civ-spouse      Craft-repair        Husband  White    Male
 20276  Married-civ-spouse    Prof-specialty           Wife  White  Female

        capital-gain  capital-loss  hours-per-week native-country salary
 500               0             0              40         Poland  <=50K
 23810             0             0              22  United-States  <=50K
 30335             0             0              12  United-States  <=50K
 1189              0             0              35  United-States  <=50K
 14546             0             0              40  United-States   >50K
 ...             ...           ...             ...            ...    ...
 24246             0             0              12  United-States  <=50K
 31531          7298             0              40  United-States   >50K
 1723              0             0              42  United-States   >50K
 29462             0             0              40  United-States  <=50K
 20276             0             0              50        England   >50K

 [401 rows x 15 columns],
 'workclass => State-gov':        age  workclass   fnlgt     education  education-num  \
 16347   46  State-gov  394860     Bachelors             13
 11767   38  State-gov  346766       HS-grad              9
 31578   36  State-gov  179488     Bachelors             13
 12027   31  State-gov  263000     Assoc-voc             11
 17994   43  State-gov   98989       HS-grad              9
 ...    ...        ...     ...           ...            ...
 24625   42  State-gov  190044     Bachelors             13
 29921   50  State-gov   54709       HS-grad              9
 27363   62  State-gov  202056     Bachelors             13
 1819    43  State-gov  206139     Bachelors             13
 29336   43  State-gov   30824  Some-college             10

            marital-status       occupation   relationship                race  \
 16347  Married-civ-spouse   Prof-specialty        Husband               White
 11767            Divorced     Adm-clerical      Unmarried               White
 31578  Married-civ-spouse  Protective-serv        Husband               White
 12027  Married-civ-spouse  Protective-serv        Husband               White
 17994  Married-civ-spouse    Other-service        Husband  Amer-Indian-Eskimo
 ...                   ...              ...            ...                 ...
 24625  Married-civ-spouse  Exec-managerial        Husband               White
 29921            Divorced     Adm-clerical      Unmarried               White
 27363            Divorced   Prof-specialty  Not-in-family               White
 1819   Married-civ-spouse     Adm-clerical        Husband               White
 29336            Divorced     Adm-clerical  Not-in-family               White

           sex  capital-gain  capital-loss  hours-per-week native-country  \
 16347    Male             0             0              38  United-States
 11767  Female             0             0              40  United-States
 31578    Male          7298             0              55  United-States
 12027    Male             0             0              38  United-States
 17994    Male             0             0              40  United-States
 ...       ...           ...           ...             ...            ...
 24625    Male         15024             0              50  United-States
 29921  Female             0             0              46  United-States
 27363    Male         14084             0              40  United-States
 1819     Male             0             0              50  United-States
 29336  Female             0             0              40  United-States

       salary
 16347  <=50K
 11767  <=50K
 31578   >50K
 12027  <=50K
 17994  <=50K
 ...      ...
 24625   >50K
 29921  <=50K
 27363   >50K
 1819    >50K
 29336  <=50K

 [240 rows x 15 columns],
 'workclass => ?':        age workclass   fnlgt     education  education-num      marital-status  \
 10995   20         ?  114357  Some-college             10       Never-married
 21453   34         ?  170276     Bachelors             13  Married-civ-spouse
 23123   46         ?   81136     Assoc-voc             11            Divorced
 13504   51         ?  157327       5th-6th              3  Married-civ-spouse
 2359    20         ?  121313          10th              6       Never-married
 ...    ...       ...     ...           ...            ...                 ...
 28629   61         ?   71467       HS-grad              9  Married-civ-spouse
 28715   57         ?  202903       7th-8th              4  Married-civ-spouse
 16404   51         ?  172175     Doctorate             16       Never-married
 4607    20         ?   24395  Some-college             10       Never-married
 3297    76         ?   28221       HS-grad              9  Married-civ-spouse

       occupation   relationship   race     sex  capital-gain  capital-loss  \
 10995          ?  Not-in-family  White    Male             0             0
 21453          ?           Wife  White  Female             0             0
 23123          ?      Unmarried  White    Male             0             0
 13504          ?        Husband  Black    Male             0             0
 2359           ?      Own-child  White    Male             0             0
 ...          ...            ...    ...     ...           ...           ...
 28629          ?        Husband  White    Male          3103             0
 28715          ?           Wife  White  Female          1173             0
 16404          ?  Not-in-family  White    Male             0          2824
 4607           ?      Unmarried  White  Female             0             0
 3297           ?        Husband  White    Male             0             0

        hours-per-week native-country salary
 10995              40  United-States  <=50K
 21453              10  United-States   >50K
 23123              30  United-States  <=50K
 13504               8  United-States  <=50K
 2359               40  United-States  <=50K
 ...               ...            ...    ...
 28629              40  United-States   >50K
 28715              45    Puerto-Rico  <=50K
 16404              40  United-States   >50K
 4607               20  United-States  <=50K
 3297               40         Canada   >50K

 [369 rows x 15 columns],
 'workclass => Federal-gov':        age    workclass   fnlgt     education  education-num  \
 14289   65  Federal-gov  325089          10th              6
 21942   38  Federal-gov  190174       HS-grad              9
 23393   40  Federal-gov   36885  Some-college             10
 5709    37  Federal-gov  129573     Doctorate             16
 30434   35  Federal-gov  128608     Bachelors             13
 ...    ...          ...     ...           ...            ...
 15074   46  Federal-gov  207022     Bachelors             13
 25839   53  Federal-gov  227836  Some-college             10
 18334   43  Federal-gov   92775     Assoc-voc             11
 29343   18  Federal-gov  101709          11th              7
 31333   38  Federal-gov  325538   Prof-school             15

            marital-status       occupation   relationship                race  \
 14289            Divorced     Craft-repair      Unmarried               White
 21942            Divorced   Prof-specialty      Unmarried               White
 23393       Never-married     Adm-clerical  Not-in-family               White
 5709   Married-civ-spouse   Prof-specialty        Husband               White
 30434       Never-married  Exec-managerial      Own-child               White
 ...                   ...              ...            ...                 ...
 15074  Married-civ-spouse  Exec-managerial        Husband               White
 25839            Divorced  Farming-fishing  Not-in-family               White
 18334            Divorced     Craft-repair  Not-in-family               White
 29343       Never-married    Other-service      Own-child  Asian-Pac-Islander
 31333  Married-civ-spouse   Prof-specialty        Husband               White

           sex  capital-gain  capital-loss  hours-per-week native-country  \
 14289    Male             0             0              40  United-States
 21942  Female             0             0              40  United-States
 23393  Female             0             0              50  United-States
 5709     Male             0             0              72              ?
 30434    Male             0             0              40  United-States
 ...       ...           ...           ...             ...            ...
 15074    Male          7688             0              40  United-States
 25839    Male             0             0              40  United-States
 18334    Male             0             0              40  United-States
 29343    Male             0             0              15    Philippines
 31333    Male             0             0              50  United-States

       salary
 14289  <=50K
 21942  <=50K
 23393  <=50K
 5709    >50K
 30434  <=50K
 ...      ...
 15074   >50K
 25839  <=50K
 18334  <=50K
 29343  <=50K
 31333   >50K

 [180 rows x 15 columns],
 'workclass => Self-emp-inc':        age     workclass   fnlgt     education  education-num  \
 30244   50  Self-emp-inc  190333   Prof-school             15
 27540   34  Self-emp-inc   29254  Some-college             10
 3774    49  Self-emp-inc  362654  Some-college             10
 31496   49  Self-emp-inc  431245  Some-college             10
 13010   39  Self-emp-inc  202937       Masters             14
 ...    ...           ...     ...           ...            ...
 8076    50  Self-emp-inc  136913       HS-grad              9
 25119   37  Self-emp-inc   51264     Assoc-voc             11
 9797    47  Self-emp-inc  168191  Some-college             10
 27602   75  Self-emp-inc   81534       HS-grad              9
 25231   19  Self-emp-inc  148955  Some-college             10

            marital-status       occupation    relationship  \
 30244  Married-civ-spouse   Prof-specialty         Husband
 27540  Married-civ-spouse     Craft-repair         Husband
 3774   Married-civ-spouse  Exec-managerial         Husband
 31496  Married-civ-spouse            Sales         Husband
 13010  Married-civ-spouse   Prof-specialty            Wife
 ...                   ...              ...             ...
 8076   Married-civ-spouse  Farming-fishing         Husband
 25119  Married-civ-spouse            Sales         Husband
 9797   Married-civ-spouse     Craft-repair         Husband
 27602             Widowed            Sales  Other-relative
 25231       Never-married    Other-service       Own-child

                      race     sex  capital-gain  capital-loss  hours-per-week  \
 30244               White    Male         99999             0              55
 27540               White    Male             0             0              70
 3774                White    Male         15024             0              50
 31496               White    Male             0             0              50
 13010               White  Female             0             0              40
 ...                   ...     ...           ...           ...             ...
 8076                White    Male             0             0              50
 25119               White    Male             0             0              40
 9797                White    Male             0             0              40
 27602  Asian-Pac-Islander    Male             0             0              35
 25231  Asian-Pac-Islander  Female             0             0              35

       native-country salary
 30244  United-States   >50K
 27540  United-States  <=50K
 3774   United-States   >50K
 31496  United-States   >50K
 13010  United-States   >50K
 ...              ...    ...
 8076   United-States  <=50K
 25119  United-States   >50K
 9797   United-States  <=50K
 27602  United-States   >50K
 25231          South  <=50K

 [238 rows x 15 columns],
 'workclass => Without-pay':        age    workclass   fnlgt     education  education-num  \
 25500   29  Without-pay  212588  Some-college             10
 22215   19  Without-pay   43887       HS-grad              9
 27747   72  Without-pay  121004       HS-grad              9

            marital-status       occupation relationship   race   sex  \
 25500  Married-civ-spouse  Farming-fishing    Own-child  White  Male
 22215       Never-married  Farming-fishing    Own-child  White  Male
 27747  Married-civ-spouse    Other-service      Husband  White  Male

        capital-gain  capital-loss  hours-per-week native-country salary
 25500             0             0              65  United-States  <=50K
 22215             0             0              10  United-States  <=50K
 27747             0             0              55  United-States  <=50K  ,

In [9]:
from sklearn.metrics import fbeta_score, precision_score, recall_score

for key, data_slice in slices.items():
    X_slice, y_slice, _, _ = process_data(data_slice, categorical_features=cat_features, label=target, training=False, encoder=encoder, lb=lb)
    preds = model.predict(X_slice)
    fbeta = fbeta_score(y_slice, preds, beta=1, zero_division=1)
    precision = precision_score(y_slice, preds, zero_division=1)
    recall = recall_score(y_slice, preds, zero_division=1)
    print(key, precision, recall, fbeta)

workclass => Self-emp-not-inc 0.7623762376237624 0.5968992248062015 0.6695652173913043
workclass => Private 0.7942643391521197 0.6402010050251257 0.7089593767390096
workclass => Local-gov 0.768595041322314 0.7322834645669292 0.7500000000000001
workclass => State-gov 0.7735849056603774 0.6612903225806451 0.7130434782608696
workclass => ? 0.56 0.3783783783783784 0.4516129032258065
workclass => Federal-gov 0.7468354430379747 0.8939393939393939 0.8137931034482758
workclass => Self-emp-inc 0.8405797101449275 0.8111888111888111 0.8256227758007118
workclass => Without-pay 1.0 1.0 1.0
education => Doctorate 0.864406779661017 0.9272727272727272 0.8947368421052632
education => HS-grad 0.8023255813953488 0.40588235294117647 0.5390625
education => Some-college 0.7545454545454545 0.5684931506849316 0.6484375
education => 11th 1.0 0.4 0.5714285714285715
education => Bachelors 0.7556053811659192 0.8259803921568627 0.7892271662763466
education => Prof-school 0.8735632183908046 0.987012987012987 0.9268292682926829
education => Assoc-voc 0.74 0.5211267605633803 0.6115702479338843
education => 12th 1.0 0.2857142857142857 0.4444444444444445
education => 10th 1.0 0.15384615384615385 0.2666666666666667
education => Masters 0.8289473684210527 0.8552036199095022 0.841870824053452
education => 9th 1.0 0.2222222222222222 0.3636363636363636
education => Assoc-acdm 0.6818181818181818 0.75 0.7142857142857143
education => 7th-8th 1.0 0.09090909090909091 0.16666666666666669
education => 5th-6th 1.0 0.25 0.4
education => Preschool 1.0 1.0 1.0
education => 1st-4th 1.0 1.0 1.0
marital-status => Never-married 0.9166666666666666 0.4536082474226804 0.6068965517241379
marital-status => Married-civ-spouse 0.7757475083056479 0.7124332570556827 0.7427435387673956
marital-status => Divorced 0.8571428571428571 0.4077669902912621 0.5526315789473684
marital-status => Widowed 1.0 0.35 0.5185185185185185
marital-status => Separated 0.9 0.5625 0.6923076923076923
marital-status => Married-spouse-absent 1.0 0.125 0.2222222222222222
marital-status => Married-AF-spouse 1.0 0.0 0.0
occupation => Prof-specialty 0.7859007832898173 0.8826979472140762 0.8314917127071823
occupation => Machine-op-inspct 0.7272727272727273 0.37209302325581395 0.49230769230769234
occupation => Other-service 1.0 0.20689655172413793 0.34285714285714286
occupation => Craft-repair 0.7431192660550459 0.43548387096774194 0.5491525423728812
occupation => Exec-managerial 0.8341968911917098 0.8131313131313131 0.823529411764706
occupation => Adm-clerical 0.7261904761904762 0.5922330097087378 0.6524064171122994
occupation => Sales 0.7803468208092486 0.625 0.6940874035989718
occupation => Farming-fishing 0.7692307692307693 0.47619047619047616 0.588235294117647
occupation => Handlers-cleaners 0.5714285714285714 0.23529411764705882 0.3333333333333333
occupation => Transport-moving 0.8333333333333334 0.31746031746031744 0.45977011494252873
occupation => ? 0.56 0.3783783783783784 0.4516129032258065
occupation => Priv-house-serv 1.0 1.0 1.0
occupation => Tech-support 0.7413793103448276 0.7288135593220338 0.735042735042735
occupation => Protective-serv 0.8275862068965517 0.5 0.6233766233766235
occupation => Armed-Forces 1.0 1.0 1.0
relationship => Not-in-family 0.8823529411764706 0.43352601156069365 0.5813953488372093
relationship => Unmarried 0.8846153846153846 0.42592592592592593 0.575
relationship => Wife 0.7708333333333334 0.6981132075471698 0.7326732673267327
relationship => Husband 0.7770398481973435 0.7134146341463414 0.7438692098092643
relationship => Own-child 1.0 0.29411764705882354 0.45454545454545453
relationship => Other-relative 0.8 0.5 0.6153846153846154
race => White 0.7903893951946976 0.673728813559322 0.7274113610369806
race => Black 0.7321428571428571 0.5466666666666666 0.6259541984732825
race => Asian-Pac-Islander 0.7592592592592593 0.6721311475409836 0.7130434782608696
race => Amer-Indian-Eskimo 1.0 0.2 0.33333333333333337
race => Other 0.0 0.0 0.0
sex => Male 0.7835232252410167 0.6814024390243902 0.7289033836119038
sex => Female 0.8033707865168539 0.5789473684210527 0.6729411764705882
native-country => ? 0.8260869565217391 0.6551724137931034 0.7307692307692308
native-country => United-States 0.7885572139303483 0.6641061452513967 0.7210007581501137
native-country => Taiwan 1.0 1.0 1.0
native-country => Philippines 0.8 0.6153846153846154 0.6956521739130435
native-country => Poland 1.0 1.0 1.0
native-country => Mexico 1.0 0.0 0.0
native-country => China 0.75 0.8571428571428571 0.7999999999999999
native-country => Canada 0.7777777777777778 0.7 0.7368421052631577
native-country => Columbia 1.0 1.0 1.0
native-country => Vietnam 0.0 1.0 0.0
native-country => Thailand 1.0 1.0 1.0
native-country => El-Salvador 1.0 1.0 1.0
native-country => India 0.8 0.8888888888888888 0.8421052631578948
native-country => Germany 0.7 0.875 0.7777777777777777
native-country => Jamaica 0.5 1.0 0.6666666666666666
native-country => Cuba 0.8333333333333334 0.625 0.7142857142857143
native-country => Dominican-Republic 1.0 1.0 1.0
native-country => Portugal 1.0 0.5 0.6666666666666666
native-country => Outlying-US(Guam-USVI-etc) 1.0 1.0 1.0
native-country => Haiti 1.0 1.0 1.0
native-country => Greece 1.0 1.0 1.0
native-country => South 0.75 1.0 0.8571428571428571
native-country => Puerto-Rico 0.5 1.0 0.6666666666666666
native-country => England 0.5 0.42857142857142855 0.4615384615384615
native-country => Ecuador 1.0 0.5 0.6666666666666666
native-country => Guatemala 1.0 0.0 0.0
native-country => Ireland 1.0 1.0 1.0
native-country => Peru 1.0 1.0 1.0
native-country => Cambodia 1.0 0.0 0.0
native-country => Honduras 1.0 1.0 1.0
native-country => Italy 0.8 0.5714285714285714 0.6666666666666666
native-country => France 0.0 1.0 0.0
native-country => Nicaragua 1.0 0.0 0.0
native-country => Japan 0.6666666666666666 0.5 0.5714285714285715
native-country => Iran 1.0 1.0 1.0
native-country => Yugoslavia 0.0 1.0 0.0
native-country => Trinadad&Tobago 1.0 1.0 1.0
native-country => Hong 1.0 1.0 1.0
native-country => Hungary 1.0 1.0 1.0
native-country => Laos 1.0 1.0 1.0